div.Write {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 720px;
  margin: 10px;
}

div.Write > div.input {
  width: 100%;
  margin-bottom: 10px;
}


div.Write > div.button > button.write {
  width: 100px;
  height: 50px;
}